body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INICIO DO HEADER */
header {
    background-color: #027d7a;
    /* BARRA VERDE DO MENU */
    box-shadow: 0px 3px 10px #002827;

}

.nav-bar {
    /* INICIO BARRA DE NAVEGAÇÃO */
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;

}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #FFF;
    font-size: 30px;
    font-family: "Lobster Two", sans-serif;
    ;
    text-shadow: 1px 2px 5px black;
}

.nav-list {
    /* INICIO DIV LISTA DO MENUY */
    display: flex;
    align-items: center;
}

.nav-list ul {
    /* LISTA DO MENU */
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

/* FIM MENU DE NAVEGAÇÃO */

/* PARTE MENU MOBILE */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* FIM PARTE MENU MOBILE */
/* FIM DO HEADER */

/* INICIO DA SECTION */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container{
    /* INICIO DO CONTAINER */
    padding-top: 50px;
}

.container a {
    text-decoration: none;
    color: inherit
}

.clientes {
    /* DIV DOS CLIENTES */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clientes img {
    /* IMAGEM DA DIV CLIENTES */
    width: 150;
    height: 120px;
}

.clientes,
.consultas {
    /* ESTILIZAÇÅO DA DIV CLIENTES E CONSULTAS */
    height: 150px;
    width: 340px;
    border-radius: 20px;
    background-color: #027d7a;
    color: #FFF;
    font-family: "Lobster Two", sans-serif;
    font-size: 35px;
}

.funcionarios--sair {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFF;
    font-family: "Lobster Two", sans-serif;
    font-size: 35px;
}

.funcionarios {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 80%;
    border-radius: 20px;
    background-color: #004644;
    text-align: center;

}

.sair {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 50%;
    border-radius: 20px;
    background-color: #002827;
    text-align: center;
}


@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
        align-items: center;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;

    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .mobile-menu {
        display: none;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu.open {
        display: flex;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 0.8rem;
    }
/* 
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

}